.table-view {
  height: 100%;
  display: flex;
  flex-direction: column;

  & .view-body {
    flex: 1;
  }

  & .view-body {
    padding: 10px;
  }
}

.detail-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .detail-nav {
    flex: 0 0 50px;
    border-bottom: 1px solid #e6e6e6;
  }

  &.detail-main {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  & .map-outer {
    width: 440px;
    height: 252px;
  }

}
