@import "./custome-var.scss";
@import "./common.scss";
html,
body {
  height: 100%;
  color: #fff;
  background-color: #fff;
  background-color: #131620;
  font-size: 16px;
}

#app {
  .main {
    background: #131620;
  }
  & .el-tabs__item {
    color: #fff;
  }
  & .el-tabs__item.is-active {
    font-weight: bold;
  }

  & .el-tabs__active-bar {
    background-color: #fff;
  }

  & .el-table {
    background-color: #373e55;
  }

  & .el-table th {
    background-color: #373e55;
  }

  & .el-table tr {
    background-color: $--background-color-block;
  }

  & .el-tag {
    background-color: $--background-color-active;
    border-color: $--background-color-active;
    color: $--color-text-primary;
  }

  & .el-tree-node__content {
    height: 60px;
    border-bottom: 1px solid $--border-color-base-tl;
  }

  & .el-pagination button {
    margin: 0 5px;
    color: #fff;
  }
  & .el-pager li {
    margin: 0 5px;
  }

  & .el-pager li.active {
    background-color: #fff;
    color: $--background-color-base;
  }
  & .el-table__body-wrapper {
    background-color: $--background-color-black;
  }

  input {
    background-color: $--background-color-base;
  }
}
.el-image-viewer__actions,
.el-image-viewer__close {
  background-color: $--background-color-active;
}
.el-radio__inner {
  background-color: $--background-color-active;
}
.el-radio__input.is-checked .el-radio__inner {
  background-color: $--background-color-active;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: #373e55 !important;
}
.el-popper.is-light .el-popper__arrow::before {
  background: #373e55 !important;
}

.el-picker-panel,
.el-picker__popper.el-popper[role="tooltip"],
.el-cascader__dropdown.el-popper[role="tooltip"] {
  background-color: $--background-color-base !important;
}
.el-date-table td.today span {
  color: #3286dc;
}

.el-cascader-node.in-active-path,
.el-cascader-node.is-selectable.in-checked-path,
.el-cascader-node.is-active {
  color: $--color-text-primary;
}
.el-cascader-menu {
  color: $--color-text-secondary;
  border-right: 1px solid $--border-color-base-tl;
}
.el-message-box {
  background-color: $--background-color-base;
}
.el-tree {
  background-color: $--background-color-block;
}
