.table-view {
  height: 100%;
  display: flex;
  flex-direction: column;

  & .view-body {
    flex: 1;
    padding: 10px;
  }

  & .cell-opt {
    color: #409eff;
    cursor: pointer;
    text-decoration: underline;
    &:not(:first-child) {
      margin-left: 8px;
    }
    &:hover {
      color: #66b1ff;
    }
  }

  & .view-panel {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
  }

  & .panel__filter {
    & > div:not(:first-child) {
      margin-left: 10px;
    }
    display: flex;
  }

  & .panel__opt { 
    display: flex;
  }

  & .view-foot {
    display: flex;
    padding: 0 10px 20px;
    flex-direction: row-reverse;
  }
}

.detail-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .detail-nav {
    flex: 0 0 50px;
    border-bottom: 1px solid #e6e6e6;
  }

  & .detail-main {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  & .main-item {
    width: 100%;
  }

  & .detail-basic {
    flex: 1;
  }

  & .item-body-column {
    & .el-input {
      width: 180px;
    }
    flex: 0 1 200px;
  }

  & .detail-map {
    flex: 0 0 442px;
  }

  & .main-item {
    margin: 10px 0 20px;
  }

  & .main-item-title {
    position: relative;
    margin-left: 15px; 
    padding: 0 10px;

    &::before {
      content: '';
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #4b4f62;
      width: 2px;
      height: 15px;
      position: absolute;
    }

  }

  & .main-item-body {
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  & .device-photo {
    max-width: 400px;
  }

  & .map-outer {
    width: 440px;
    height: 252px;
  }
}
